<?xml version="1.0"?>
<config>
	<sections>
		<sales>
			<groups>
                <setstartordernumber translate="label" module="setstartordernumber">
					<label>ASchroder.com Set Starting Order Number</label>
					<frontend_type>text</frontend_type>
					<sort_order>995</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<comment>This extension will allow you to choose your starting order number, invoice number, shipment number and credit memo number. Simply enter your chosen values in the box below, click Save Config to save the settings and then run 'update' to apply the new increment ID's. The numbers will be 9 digits long, with a prefix and then your number. If you choose a number less than 9 digits long, Magento will pad it out with 0's. You can override that padding behavior by choosing Yes to disable padding. You can also choose to disable the prefix. &lt;br/&gt;&lt;br/&gt;It is SERIOUSLY important that you don't set the number back lower than existing orders, otherwise you'll end up with duplicates, and a world of hurt - you've been warned :) &lt;br/&gt;&lt;br/&gt;Any issues/feedback/bugs/feature requests welcome, please contact Ashley at &lt;a href='http://aschroder.com' target='_blank'&gt;ASchroder.com&lt;/a&gt;.&lt;br/&gt;&lt;br/&gt;</comment>
						<fields>
							<disable_padding translate="label">
								<label>Disable padding</label>
								<comment>If you set this to Yes, the padding will not be used. For example: with padding 501 becomes 5000000001, without padding it stays as 501.</comment>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<sort_order>2</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>0</show_in_store>
							</disable_padding>
							<disable_prefix translate="label">
								<label>Disable prefix.</label>
								<comment>If you set this to Yes, the prefix will not be used. For example: Order number 480 with an increment extra of 20 would go to 4100 with prefix enabled and 500 with prefix disabled.</comment>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<sort_order>4</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>0</show_in_store>
							</disable_prefix>
							<extra_increment translate="label">
								<label>Extra Increment</label>
								<comment>By default your ID's are incremented by 1 each time, set a different value here if you want to override that. For example 100,101,102... could become 100,103,106.. if you use an extra increment of 3.</comment>
								<frontend_type>text</frontend_type>
								<sort_order>5</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>0</show_in_store>
							</extra_increment>
							<order translate="label">
								<label>Starting Order Number</label>
								<frontend_type>text</frontend_type>
								<sort_order>20</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>0</show_in_store>
							</order>
							<invoice translate="label">
								<label>Starting Invoice Number</label>
								<frontend_type>text</frontend_type>
								<sort_order>30</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>0</show_in_store>
							</invoice>
							<shipment translate="label">
								<label>Starting Shipment Number</label>
								<frontend_type>text</frontend_type>
								<sort_order>40</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>0</show_in_store>
							</shipment>
							<credit translate="label">
								<label>Starting Credit Memo Number</label>
								<frontend_type>text</frontend_type>
								<sort_order>50</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>0</show_in_store>
							</credit>
							<update translate="label">
                                <comment>Clicking this will update your increment ID's to the numbers you specified above (you have to save config first!). Blank numbers are left as they are. &lt;br/&gt; &lt;br/&gt; &lt;strong&gt;Note:&lt;/strong&gt; If any of the given numbers are lower than the values already in the database, you will see an error. If you are 100% sure you know what you're doing you can override the safety check, flip the switch below and save again before running this update.</comment>
                                <frontend_type>select</frontend_type>
                                <frontend_model>Aschroder_SetStartOrderNumber_Block_Adminhtml_Update</frontend_model>
                                <sort_order>220</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </update>
							<override translate="label">
								<label>Allow me to set my increment ID's below their current values - Trust me, I know what I'm doing.</label>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<sort_order>300</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>0</show_in_store>
							</override>
						</fields>
				</setstartordernumber>
			</groups>
		</sales>
	</sections>
</config>
